<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles.css" />
    <title>CarFinder</title>
</head>

<body>
    <div id="navbar" class="navbar">
        <a :href="homePage">
          <img id="logo" class="logo"  :src="logomarca" :alt="alt" onclick="safeExit()"/>
        </a>
    </div>

    <div>
        <h3> </h3>
        <h3> </h3>
        <h3> </h3>
    </div>

    <div id="audiA4">
        <span>
            <img :src="image" 
            :alt="alt"/>
        </span>

        <span>
            <h3>{{ modelo }}<br>{{ ano }}</h3>

            <!-- sempre presente no DOM, só é mostrado quando deve -->
            <h3 v-show="disponivel"> {{ preço }}</h3>

            <!-- só é carregado no DOM quando a condição é verdadeira -->
            <h3 v-if="quantidade >= 5">Disponível</h3>
            <h3 v-else-if="quantidade < 5 && quantidade > 0">Últimas unidades!</h3>
            <h3 v-else>Indisponível</h3>

             <!-- exemplo de uso de v-for -->
            <ul>
                <li v-for="detalhe in detalhes">
                    <h4>{{ detalhe }}</h4>
                </li>
            </ul>
        </span>

         <!-- exemplo de uso de v-for + listas de "structs"-->
        <div v-for="pot in potencias" :key="pot.id">
            <h4>{{ pot.cilindros }}</h4>
            <h4>{{ pot.cilindradas }}</h4>
        </div>

        <div>
            <h3> Disponíveis: {{ quantidade }}
                <button v-on:click="quantidade++">
                    <h3>Vender agora</h3>
                </button>
                <button v-on:click="quantidade--" v-show="quantidade > 0">
                    <h3>Comprar agora</h3>
                </button>
            </h3>
        </div>

    </div>

    <script src="vue.js"></script>
    <script src="main.js"></script>

</body>
</html>