<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles.css" />
    <title>CarFinder</title>
</head>

<body>
<div id="navbar" class="navbar">
  <a :href="homePage">
    <img id="logo" class="logo"  :src="logomarca" :alt="alt" onclick="safeExit()"/>
  </a>
</div>

<div id="titulo">
  <h1><br>Seu próximo automóvel <br>de alto padrão</h1>
</div>

<div class="inlineBlock">
  <div id="audiA4" class="carBullet">

    <a :href="carPage">
      <span>
        <img :src="image" 
          :alt="alt"/>
      </span>
    </a>

    <span>
        <h3>{{ modelo }}<br>{{ ano }}</h3>

        <!-- sempre presente no DOM, só é mostrado quando deve -->
        <h3 v-show="disponivel"> {{ preço }}</h3>

        <!-- só é carregado no DOM quando a condição é verdadeira -->
        <h3 v-if="quantidade >= 10">Disponível</h3>
        <h3 v-else-if="quantidade < 10 && quantidade > 0">Últimas unidades!</h3>
        <h3 v-else>Indisponível</h3>

        <!-- exemplo de uso de v-for -->
        <ul>
          <li v-for="detalhe in detalhes">
            <h3>{{ detalhe }}</h3>
          </li>
        </ul>
    </span>

  </div>
</div>

<div>
  <h3>Lorem Ipsum is <br>simply dummy text of <br>
    the printing and <br>typesetting industry. <br>
    Lorem Ipsum has been <br>the industry's <br>
    standard dummy text <br>ever since the 1500s, <br>
    when an unknown printer <br>took a galley of <br>
    type and scrambled it <br>to make a type <br>
    specimen book. It has <br>survived not only <br>
    five centuries, but <br>also the leap into <br>
    electronic typesetting, <br>remaining <br>
    essentially unchanged. <br>It was popularised <br>
    in the 1960s with the <br>release of Letraset <br>
    sheets containing Lorem <br>Ipsum passages, <br>
    and more recently with <br>desktop publishing <br>
    software like Aldus <br>PageMaker including <br>
    versions of <br>sLorem Ipsum.</h3>
</div>
  <script src="vue.js"></script>
  <script src="main.js"></script>

</body>
</html>