/*Style sheet*/


body {
  background-color: white;
}

    h1 {
      margin: 3%;
      color: blue;
    }

    h2 {
      margin: 3%;
    }

    h3 {
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 10px;
      margin: 3%;
    }

    .car {
      background: lightgrey;
      border-radius: 30px;
      padding: 50px;
      margin-top: 50px;
      margin-left: 100px;
      margin-bottom: 25px;
      margin-right: 1400px;
      border: 5px solid black;
      cursor: pointer;
      
    }

    img {
      width: 300px;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .logo {
      border-color: 2px black;
      width: 350px;
      border-radius: 10px;
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .navebar {
      background: white;
      margin-left: -10px;
      margin-top: -10px;
      margin-right: -10px;
      margin-bottom: 1px;
      /*border: 2px solid black;*/
      box-shadow: 0px 10px 75px #888888;
      /*box-shadow: 0px 100px inset #888888;*/
    }