/*Style sheet*/


body {
  background-color: white;
}

    h1 {
      margin: 3%;
      margin-top: 100px;
      font-size: 75px;
    }

    h2 {
      margin: 3%;
      font-size: 50px;
    }

    h3 {
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 10px;
      margin: 3%;
    }

    .car {
      display: inline-block;
      background: #F2F3F5;
      border-radius: 30px;
      padding: 50px;
      margin-top: 50px;
      margin-left: 100px;
      margin-bottom: 25px;
      margin-right: 1400px;
      border: 0px solid #888888;
      cursor: pointer;
      box-shadow: 10px 10px 30px #888888;
    }

    img {
      width: 300px;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .logo {
      border-color: 2px black;
      width: 350px;
      border-radius: 10px;
      margin-left: 30px;
      margin-top: 10px;
      margin-bottom: 1px;
      cursor: pointer;
    }

    .navbar {
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 110%; /* Full width */
      background: white;
      margin-left: -10px;
      margin-top: -10px;
      margin-right: -10px;
      margin-bottom: 1px;
      /*border: 2px solid black;*/
      box-shadow: 0px 10px 50px #888888;
      /*box-shadow: 0px 100px inset #888888;*/
    }

    .navbarText {
      display: inline-block;
      font-size: 25px;
      margin-left: 100px;
      cursor: pointer;
    }